[{*}]<script>$('.mag img').magnify();</script>[{*}]

<div id="articledetails" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">[{$oProduct->oxarticles__oxtitle->value}] [{$oProduct->oxarticles__oxvarselect->value}]</h3>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                [{*}]<h4 class="modal-title">[{oxmultilang ident="Modal_Title"}]</h4>[{*}]
            </div>
            <div class="modal-body">

                <!-- Title -->
                [{*}]<h1 id="productTitle"><span>[{$oProduct->oxarticles__oxtitle->value}] [{$oProduct->oxarticles__oxvarselect->value}]</span></h1>[{*}]

                <!-- Detail Picture with Zoom -->
                <div class="container">
                        <button id="buttonBildGross" type="button" class="btn btn-info btn-small pull-right" onclick="bildgross();">+</button>
                    <div class="detailbild">
                        <!--<div class="mag">-->
                        <!-- <a href="[{$oProductLink}]" class="viewAllHover glowShadow corners" title="[{$product->oxarticles__oxtitle->value}] [{$oProduct->oxarticles__oxvarselect->value}]"> -->
                        [{if $oProduct->oxarticles__oxpic1 != ''}]
                    <img  src="https://cdn.bodynova.de/out/pictures/generated/product/1/900_900_75/[{$oProduct->oxarticles__oxpic1->value}]" onclick="bildgross();" [{*alt="[{$oProduct->oxarticles__oxtitle->value}] [{$oProduct->oxarticles__oxvarselect->value}]" [{*class="img-thumbnail"*}]  />
                        [{else}]
                    <img  src="https://bodynova.de/out/imagehandler.php?artnum=[{$oProduct->oxarticles__oxartnum}]&size=450_450_100" [{* class="img-thumbnail" *}]  onclick="bildgross();" />
                        [{/if}]
                        <!-- </a> -->
                        <!--</div>-->
                    </div>
                </div>
                <hr>
                <!-- Long description -->
                <p><span>[{$oProduct->getLongDesc()}]</span></p>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
